{% extends 'base.html.twig' %}

{% block title %}Degree index{% endblock %}

{% block body %}
    <h1>Degree index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Speciality</th>
                <th>Obtained_at</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for degree in degrees %}
            <tr>
                <td>{{ degree.id }}</td>
                <td>{{ degree.name }}</td>
                <td>{{ degree.level }}</td>
                <td>{{ degree.speciality }}</td>
                <td>{{ degree.obtainedAt ? degree.obtainedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ degree.status }}</td>
                <td>{{ degree.createdAt ? degree.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ degree.updatedAt ? degree.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_degree_show', {'id': degree.id}) }}">show</a>
                    <a href="{{ path('app_degree_edit', {'id': degree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_degree_new') }}">Create new</a>
{% endblock %}
